@model Task3_28032019.Models.User
@{
    Layout = null;
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Product</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div class="container__small">
        <div class="table">
            <form method="post" action="">
                <div class="table-content">
                    <div class="table-row">
                        <div class="table-data">
                            @using (Html.BeginRouteForm("FormRoute", null, FormMethod.Post,
                            new { @class = "userCssClass", data_formType = "User" }))
                            {
                                <div class="table-data">
                                    <p>Enter name:</p>
                                </div>
                                @Html.EditorFor(model => model.Name);
                                @Html.ValidationMessageFor(model => model.Name);

                                <div class="table-data">
                                    <p>Enter Email:</p>
                                </div>
                                @Html.EditorFor(model => model.Email);
                                @Html.ValidationMessageFor(model => model.Email);
                                <div class="table-data">
                                    <input type="submit" value="Отправить" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>