
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div>
        <div class="container">
            <div class="table">
                <div class="table-header">
                    <div class="header__item">
                        <p><a class="filter__link__white" href="/Home/AddProductOrder">Add</a></p>
                        <p><a class="filter__link__white" href="/Home/Index">Home</a></p>
                    </div>
                </div>
                <div class="table-content">
                    <div class="table-row">
                        <div class="table-data">
                          <p>Кличество</p>
                        </div>
                        <div class="table-data">
                            <p>Продукт</p>
                        </div>
                        <div class="table-data">
                            <p>Заказ</p>
                        </div>
                    </div>
                    @foreach (var b in ViewBag.ProductOrder)
                    {
            
                    <div class="table-row">
                        <div class="table-data">
                            <p>@b.Quantity</p>
                        </div>
                        <div class="table-data">
                            @foreach (var pr in ViewBag.Products)
                            {
                                if (b.Id_Product == pr.Id)
                                {
                                    <p>@pr.Name</p>
                                }
                            }
                        </div>
                        <div class="table-data">
                            @foreach (var order in ViewBag.Orders)
                            {
                                if (b.Id_Order == order.Id)
                                {
                                    <p>@order.Name</p>
                                }
                            }
                        </div>
                    </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</body>
</html>