@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Product</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <div class="container__small">
        <div class="table">
            <form method="post" action="">
                <div class="table-content">
                    <div class="table-row">
                        <div class="table-data">
                            <p>Quantity of product price</p>
                        </div>
                        <div class="table-data">
                            @ViewBag.price
                        </div>
                        <p></p>
                        <p></p>
                        <p></p>

                        <div class="table-content">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            @if (ViewBag.userproducts != null)
                            {
                                foreach (var b in ViewBag.userproducts)
                                {
                                    <div class="table-row">
                                        <div class="table-data">
                                            <p>  Name  </p>
                                        </div>
                                        <div class="table-data">
                                            <p>  @b.Name  </p>
                                        </div>
                                        <div class="table-data">
                                            <p>  Price  </p>
                                        </div>
                                        <div class="table-data">
                                            <p>  @b.Price  </p>
                                        </div>
                                           <div class="table-data">
                                            <p>@foreach (var pror in ViewBag.userproductsorder) {
                                                if (b.Id == pror.Id_Product) {
                                                    <p> @pror.Quantity  </p>
                                                }
                                            }</p>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>